* {
    font-family: 'Cormorant Garamond', sans-serif;
}

.container-layout-full {
    max-width: 1480px;
    margin: 0 auto;
    width: 100%;
}

.container-layout-min {
    max-width: 1120px;
    margin: 0 auto;
    width: 100%;
}

.brand {
    text-decoration: none;
    font-weight: 900;
    color: #000;
    text-decoration: none;
    font-size: 35px;
}

.brand-link {
    font-size: 17px;
    font-weight: 600;
    color: #000;
}

.content-main p,
.content-left p,
.dinner p,
.ladies-night p {
    font-size: 16px;
    list-style: 24px;
}

.signature-item-title {
    font-size: 16px;
    line-height: 24px;
}

h3 {
    font-weight: 700 !important;
}

ul li {
    list-style: none;
}